header, .row {
    display: flex;  
    border: 1px solid black;

  }
  
  .col {
    flex: 1;   
    border: 1px solid black;
 }   
body{
    background-color:grey;
}
.greenblock{
    font-size: 2em;
    background-color: green;
    text-align: center;
}
h1{
    text-align: center;
}
.redblock{
    font-size: 2em;
    background-color: red;
    text-align: center;
}
.orangeblock{
    font-size: 2em;
    background-color: orange;
    text-align: center;
}